@import "tailwindcss";

@theme {
    /* Colores */
    --color-primario: #d4d4d4;
    --color-secundario: #f5f5f5;
    --color-terciario: #d9d9d9;

    /* Breakpoints */
    --breakpoint-xs: 350px;
}

.social-button {
    @apply p-2 size-12 sm:size-16 flex items-center justify-center rounded-full transition-transform hover:scale-125;
}